// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 800

.dosis-<uniquifier> {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.container {
  text-align: center;
}

h1 {
  text-align: center;
}

#fact {
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
}

#currentYear {  /* Styles for the year element */
  vertical-align: text-bottom;
  font-size: 12px;  /* Adjust font size as needed */
  margin-top: 20px;  /* Add some margin above the year */
}

.copyright {
  vertical-align: text-bottom;
  font-size: 12px; /* Adjust font size as needed */
  margin-top: 20px; /* Add some margin from the top */
}
