

.container {
  text-align: center;
}

h1 {
  text-align: center;
}

#fact {
  font-family: Dosis, sans-serif;
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
}

#currentYear {  /* Styles for the year element */
  vertical-align: text-bottom;
  font-size: 12px;  /* Adjust font size as needed */
  margin-top: 20px;  /* Add some margin above the year */
}

.copyright {
  vertical-align: text-bottom;
  font-size: 12px; /* Adjust font size as needed */
  margin-top: 20px; /* Add some margin from the top */
}

.dosis-alpha {
  font-family: Dosis, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-display: swap; /* Or use 'fallback' if you prefer a fallback font initially */
