body {
  background-color: #D8D8D8; /* Light gray background */
  background-image: URL("https://raw.githubusercontent.com/fun-facts/question-mark.gif/main/giphy.gif"); /* Replace with your image URL */
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0;
  font-family: sans-serif; /* Basic font for the body (optional) */
  height: 100vh; /* Set body height to viewport height */
  position: relative; /* Needed for absolute positioning */
}

.container {
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 2em; /* Adjust heading size as needed */
}

h2 {
  font-family: Dosis, sans-serif;
  text-decoration: none;
  text-align: center;
  text-emphasis-color: black
  font-size: 1.5em;
  margin-top: 20px;
}

h3 {
  font-family: Dosis, sans-serif;
  text-decoration: none;
  text-emphasis-color: #000000;
  text-align: center;
  font-size: 1.5em;
  margin-top: 20px;
}

#fact {
  font-family: Dosis, sans-serif; /* Assuming Dosis for displayed facts */
  font-size: 1.5em;  /* Adjust fact size as needed */
  text-align: center;
  margin-top: 20px;
}

.dosis-alpha { /* Class definition for Dosis font (optional) */
  font-family: Dosis, sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
